s.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="record">
    <xs:complexType>
      <xs:sequence>
	<xs:element type="xs:positiveInteger" name="id"/>
        <xs:element type="xs:int" name="station"/>
        <xs:element name="date">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:positiveInteger" name="year"/>
              <xs:element type="xs:positiveInteger" name="month"/>
              <xs:element type="xs:positiveInteger" name="day"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:float" name="temperature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

<xs:element name="data">
	<xs:complexType>
          <xs:sequence>
		<xs:element ref="record" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
</xs:element>

</xs:schema>